.time__left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  height: 60%;
  border: 1px solid cornflowerblue;
  border-radius: 5px;
}

@media screen and (min-width: 400px) and (max-width: 739px) {
  .time {
    width: 80px;
    height: 100%;
    font-size: 9px;
  }
}

@media screen and (min-width: 740px) and (max-width: 1024px) {
  .time {
    width: 80px;
    height: 100%;
    font-size: 14px;
  }
}
