@import "../../../colors/appColors.scss";

.login__container,
.register__container {
  display: flex;
  flex-direction: column;
  border: 3px solid $bordersColor;
  border-radius: 20px;
  box-shadow: 0px 0px 12px 2px $appBlue;
  width: 50vw;
  height: 60%;
  margin: 0 auto;
  margin-top: 5%;
  padding: 35px;
}

.login__container,
.register__container {
  span {
    font-size: 18px;
    font-weight: 400;
  }
  .change-form-btn {
    cursor: pointer;
    color: $appBlue;
    font-weight: 600;
  }
}

.login__form,
.register__form {
  width: 80%;
  margin: 0 auto;
  margin-top: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  input {
    width: 60%;
    margin: 10px;
    padding: 5px;
    font-size: 19px;
  }
  .error-message {
    color: red;
    text-align: center;
  }
}

.change-form {
  margin: 0 auto;
  margin-top: 5%;
}
