@import "../../../colors/appColors.scss";
@import "~bootstrap/scss/bootstrap";

.field-header {
  box-sizing: border-box;
  padding: 26px 5% 10px 10%;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid $appBlue;
  box-shadow: 0px 5px 15px $appBlue;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.btn.btn-start {
  background-color: rgb(41, 41, 41);
  color: rgb(151, 183, 241);
}

.btn.btn-pause,
.btn.btn-restart {
  background-color: white;
  color: $appBlue;
}

@media screen and (min-width: 400px) and (max-width: 739px) {
  .field-header {
    padding: 10px 5% 10px 10%;
    width: 100%;
    height: 60px;
  }

  .buttons-container {
    width: 40%;
  }

  .btn.btn-start,
  .btn.btn-new-game,
  .btn.btn-pause,
  .btn.btn-restart {
    font-size: 9px;
    width: 65px;
    height: 35px;
  }
}

@media screen and (min-width: 740px) and (max-width: 1024px) {
  .field-header {
    padding: 10px 5% 10px 10%;
    width: 100%;
    height: 90px;
  }

  .buttons-container {
    width: 40%;
  }

  .btn.btn-start,
  .btn.btn-new-game,
  .btn.btn-pause,
  .btn.btn-restart {
    font-size: 13px;
    width: 95px;
    height: 45px;
  }
}
