$appBlue: cornflowerblue;
$appBlack: rgb(46, 46, 46);

$headerColor: $appBlue;
$sideContainer: rgb(46, 46, 46);
$bordersColor: rgb(61, 61, 61);

$playerName: $appBlue;

.app {
  background-color: rgb(61, 61, 61);
}
